Source/Test/Web References/localhost/GISService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="SearchNearRoad">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="x" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="y" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchNearRoadResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SearchNearRoadResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SearchNearRoadSoapIn">
    <wsdl:part name="parameters" element="tns:SearchNearRoad" />
  </wsdl:message>
  <wsdl:message name="SearchNearRoadSoapOut">
    <wsdl:part name="parameters" element="tns:SearchNearRoadResponse" />
  </wsdl:message>
  <wsdl:portType name="GISServiceSoap">
    <wsdl:operation name="SearchNearRoad">
      <wsdl:input message="tns:SearchNearRoadSoapIn" />
      <wsdl:output message="tns:SearchNearRoadSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="GISServiceSoap" type="tns:GISServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SearchNearRoad">
      <soap:operation soapAction="http://tempuri.org/SearchNearRoad" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="GISServiceSoap12" type="tns:GISServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SearchNearRoad">
      <soap12:operation soapAction="http://tempuri.org/SearchNearRoad" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GISService">
    <wsdl:port name="GISServiceSoap" binding="tns:GISServiceSoap">
      <soap:address location="http://localhost:14492/GISService.asmx" />
    </wsdl:port>
    <wsdl:port name="GISServiceSoap12" binding="tns:GISServiceSoap12">
      <soap12:address location="http://localhost:14492/GISService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>